$APP: 'TwitterAnalysisApp';
$main-background-color: #F1F1F1;
$main-font-family: "Helvetica Neue", "Arial", "sans-serif";
// $light-gray: #FAFAFA;
// $dark-gray: #888888;
$blue: 	#1DA1F2;
$black: #212529;
$dark-gray: #657786;
$light-gray: #AAB8C2;
$extra-light-gray: #E1E8ED;
$super-light-gray: #F5F8FA;
