// .SearchbarWrapper{
//     column-count: 2;
// }
@import './../../../styles/theme.scss';

.SearchbarWrapper{
    border-radius: 1%;
    background-color:red;
    height: 20%;
    max-width: 60%;
    margin-top: 20%;
    margin-left: 20%;
}