@import './../../styles/main.scss';

.App{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapper {
        width: 50%;
        height: 60%;
    }
    .twitterLogo{
        width: auto;
        height: 40%;
        left: 20%;
        padding-bottom: 100px;
        // background-color: red;
        background-image: url(../../../#{$twitter_logo_path});
        background-repeat: no-repeat;
        background-size: contain;
        // background-attachment: fixed;
        background-position: center;
    }
}



